
<% if @people.size>0 %>
<h3>Listing <%= pluralize(@people.count, @typepper)%> </h3>
<table>
  <tr>
    <th>User</th>
    <th>Name</th>
    <th>Lastname</th>
    <th>Sex</th>
    <th>Birthday</th>
    <th>Cellnumber</th>
    <th>City</th>
    <th>Address</th>
    <th>Typeper</th>
    <th>Status</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
<% @people.each do |person| %>
  <tr>
    <td><%= person.user_id %></td>
    <td><%= person.name %></td>
    <td><%= person.lastname %></td>
    <td><%= person.sex %></td>
    <td><%= person.birthday %></td>
    <td><%= person.cellnumber %></td>
    <td><%= person.city %></td>
    <td><%= person.address %></td>
    <td><%= person.typeper %></td>
    <td><%= person.status %></td>
    <td><%= link_to 'Show', person %></td>
    <td><%= link_to 'Edit', edit_person_path(person) %></td>
    <td><%= link_to 'Destroy', person, :confirm => 'Are you sure?', :method => :delete %></td>
	<% if @typepper.eql? "doctor" %>
	<td><%= link_to 'schedule' , new_appointment_with_doctor_path(person.id) %></td>
	<% end %>
  </tr>
<% end %>
</table>
<% else %>
<h3><%=pluralize(@people.count,@typepper)%> found</h3>
<% end %>
<br />

