<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @person.user_id %>
</p>

<p>
  <b>Name:</b>
  <%= @person.name %>
</p>

<p>
  <b>Lastname:</b>
  <%= @person.lastname %>
</p>

<p>
  <b>Sex:</b>
  <%= @person.sex %>
</p>

<p>
  <b>Birthday:</b>
  <%= @person.birthday %>
</p>

<p>
  <b>Cellnumber:</b>
  <%= @person.cellnumber %>
</p>

<p>
  <b>City:</b>
  <%= @person.city %>
</p>

<p>
  <b>Address:</b>
  <%= @person.address %>
</p>

<p>
  <b>Typeper:</b>
  <%= @person.typeper %>
</p>

<p>
  <b>Status:</b>
  <%= @person.status %>
</p>


<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', typepeople_path(@person.typeper)  %>
