<%= form_for(@recurrence) do |f| %>
  <% if @recurrence.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@recurrence.errors.count, "error") %> prohibited this recurrence from being saved:</h2>

      <ul>
      <% @recurrence.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :day %><br />
    <%= f.collection_select :day, Recurrence::DAYS, :to_s, :titleize %>
  </div>
  <div class="field">
    <%= f.label :hourrecu %><br />
    <%= f.time_select :hourrecu ,:minute_step => 30%>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
