<ul id="horizontalmenu">  
<li><%= link_to "Home", root_path %></li>  
<li><%= link_to "Appointments",root_path  %></li>  
<li><%= link_to "Doctors",  root_path%></li>  
<li><%= link_to "Patients", patients_path('patient')%></li>  
<li><%= link_to "Help", root_path %></li> 
</ul>